
html,
body {
    font-family: sans-serif;
}

.top__text-big {
    font-size: 60px;  
}

.top {
    margin: 60px
}

.top__image {
    display: flex;
    height: 150px;
 }
    
.top__text {                     
    font-size: 24px; 
    padding-bottom: 40px;
}

.top__textarea {               
    border-radius: 15px;
    width: 100%;
    font-size: 35px;
    border-color: #000;
    text-align: center;
    line-height: 80px;
    height:140px;
    margin-bottom: 40px;
}

.top__signedin {
    padding: 30px;
    font-size: 35px;
    display: flex;
}
    
.top__checkbox {
    width: 70px;
    height: 60px;
    position: relative;
    vertical-align: middle;
    margin-right: 40px;
    top: -10px;
}

.top__new-number {        
    display: flex;
    align-items: center;
    justify-content: center;
}

.top__button {
    line-height: 2.5;
    padding: 0px 70px 0px 70px;
    font-size: 3em;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000;
    border-radius: 150px;
    background-color: #523be4;
    margin-top: 150px;
    margin-bottom: 50px;
}

.top__have_new_number {
    text-align: center;
    margin-bottom: 10px;
}

.top__find-account { 
    color:#4632C2;
    padding: 20px;
    font-size: 20px;
    text-decoration: solid;
}

.top__captcha {
    margin: 250px 0px 0px 550px
}

.top__label {
    font-size: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    display: inline-block;
    text-align: center;
}

.top__text-find-account {
    font-size: 23px;
}